html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
}

/*========================== HEADER BLOCK ======================================================*/

.header {
    position: relative;
    background-image: url("images/main2.jpg"); 
    height: 660px;
}

#aboutme {
    background-color: rgba(255, 99, 71, 0.8);
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 35%;
    padding: 15px 20px;
    width: 400px;
}

#navbar {
    background-color: rgba(35, 34, 36, 0.8);
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
}

#navbar ul {
    margin-right: 100px;
    float: right;
}

#navbar li {
    display: inline-block;
    padding: 10px;
    font-family: arial;
    font-weight: bold;
    margin-left: 15px;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    transition: 500ms;
}


/*====================================== ABOUT ME =====================================================*/

#About {
    padding-top: 55px;
    position: absolute;
    background-color: rgb(254, 255, 218);
    height: 650px;
    width: 100%;
}

#introduce .intro {
    display: inline-block;
    /*background-color: #A0A0A0;*/
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: verdana;
    height: 325px;
    width: 330px;
    float: left;
    line-height: 25px;
    text-align: left;
}

#About h1 {
    text-align: center;
    font-size: 3em;
    text-decoration-line: underline;
}

#About img {
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 80px;
}

#introduce {
    background-color: rgb(72, 72, 245);
    height: 400px;
    width: 705px;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    font-family: verdana;
    color: white;
}

/*================================= SKILLS =========================================*/
#Skills {
    background-image: url("images/officeimage1.jpg");
    position: absolute;
    margin-top: 706px;
    /*background-color: lightseagreen;*/
    height: 1000px;
    width: 100%;
    padding-top: 55px;
}

#Skills h1 {
    text-align: center;
    color: white;
    text-decoration-line: underline;
    font-size: 3em;
}

.skillset1 {
    display: inline-block;
    height: 550px;
    width: 600px;
    margin-left: 20px;
    margin-top: 50px;
}

.skillset1 .skillset1-2 {
    padding-top: 8px;
    color: white;
    text-align: center;
    font-family: verdana;
    height: 240px;
    width: 450px;
    margin: 15px auto;
    background-color: rgba(253, 57, 57, 0.8);
}

.skillset2 {
    display: inline-block;
    height: 350px;
    width: 550px;
    margin-left: 10px;
    margin-right: 55px;
    margin-top: 100px;
    float: right;
    
}

.outbar {
    position: relative;
    background-color: rgba(253, 57, 57, 0.8); 
    margin-top: 0%;
    margin-bottom: 8px; 
    height: 50px; 
    padding-top: 3px;
}

.outbar h3 {
    color: white;
    font-family: arial;
    margin-top: 0%; 
    margin-left: 5px;
}

.inbar {
    position: absolute; 
    display: inline-block; 
    background-color: rgba(255, 255, 255, 0.8); 
    height: 10px; 
    top: 25px; 
    left: 10px; 
    width: 450px;
    margin-top: 5px;
}

.inbar div {
    position: absolute; 
    background-color: rgb(59, 102, 243); 
    height: 10px; 
    /*width: 300px;*/ 
    top: 0px; 
    left: 0px;
}

.hacker {
    position: relative;
    background-color: white;
    height: 85px;
    width: 100%;
    /*top: 30%;*/
    /*text-align: center;*/
}

.hacker div {
    position: absolute;
    margin-left: 500px;
    padding: 10px;
}

.iconify {
    padding: 10px;
    width: 2.5em;
    height: 2.5em;
    margin-right: 100px;
    border: 3px solid royalblue;
    /*background-color: royalblue;*/
    color: royalblue;
    border-radius: 1em;
}

.iconify:hover {
    background-color: tomato;
    border: 3px solid tomato;
    color: white;
    transition: 1s;
}

/*============================= CONTACT ===============================================*/

#form {
    position: relative;
    margin-top: 1611px;
    background-image: url("images/form5.jpg");
    height: 750px;
    width: 100%;
    padding-top: 55px;
    text-align: center;
}

#form h1 {
    font-size: 3em;
    text-decoration-line: underline;
    color: white;
    margin-bottom: 1em;
}

#form #connect {
    background-color: rgba(255, 99, 71, 0.7);
    color: white;
    height: 450px;
    width: 700px;
    margin-left: 330px;
    text-align: center;
    padding: 3px;
    outline: 1.5px solid white;
    outline-offset: 15px;
    line-height: 1em;
}

#form h2:first-child {
    margin-top: 20px;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

/*--------------------------- form design ------------------------------------*/
#form label {
    color: white;
    font-size: 19px;
    font-family: sans-serif;
}

#form .text {
    width: 250px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 8px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background: none;
}

#form textarea {
    border: 1.5px solid white;
    border-radius: 8px;
    outline: none;
    padding: 8px;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: 50px;
    font-family: arial;
    resize: none;
}

#form .Button {
    border: 2px solid white;
    background: none;
    color: white;
    padding: 2px;
    width: 150px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
}

#form .Button:hover {
    background-color: white;
    transition: 1s;
    color: red;
}

/*--------------------------------------------------------------------------*/

#form #socicons {
    background-color: rgba(116, 110, 110, 0.7);
    height: 55px;
    width: 600px;
    margin-top: 30px;
    margin-left: 375px;
    background-color: none;
    /*border: 1.5px solid royalblue;*/
    padding: 5px;
}

#socicons .iconify {
    height: 50px;
    width: 50px;
    padding: 0%;

    color: white;
    border: 2px solid white;
    margin-right: 25px;
}

#socicons .iconify:hover {
    color: white;
    border: 2px solid tomato;
    background: tomato;
    transition: 500ms;
}

/*================================== FOOTER ================================*/

#footer {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #202020;
    color: #A0A0A0;
    padding-top: 70px;
    text-align: center;
    font-family: verdana; 
    font-size: 14px;
}

/*******************************************************************************************/
/****************************** ANIMATION STARTS**********************************************************/

.animatenav {
    background-color: rgba(116, 85, 253, 0.8);
    transition: 1s;
}
